streamlit>=1.46.0
pandas>=2.3.0
numpy>=2.0.0
scikit-learn>=1.7.0
xgboost>=3.0.0
statsmodels>=0.14.4
matplotlib>=3.10.0
seaborn>=0.13.2
plotly>=6.0.0
joblib>=1.5.0
openpyxl>=3.1.5
Faker>=37.0.0
scipy>=1.15.0
pillow>=11.3.0